<div class="alert-danger">
    {{error}}
</div>
<h2>{{viewTitle}}</h2>


<form action="/coder" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{coder._id}}" id="">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="name"  value="{{coder.name}}" placeholder="Full Name">
        <div class="text-danger">{{coder.nameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{coder.email}}" id="email" placeholder="Email">
          <div class="text-danger">
            {{coder.emailError}}
        </div>
    </div>
    <div class="form-group">
        <div class="form-group md-6">
            <label>Mobile</label>
            <input type="text" name="mobile"  value="{{coder.mobile}}" placeholder="Mobile">
        </div>
        <div class="form-group md-6">
            <label>City</label>
            <input type="text" name="city"  value="{{coder.city}}" placeholder="city">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-database"></i>
            Submit
        </button>
        <a href="/coder/info" class="btn btn-dark">
            <i class="fa fa-list-alt"></i>
            View All
        </a>
    </div>
</form>