<h4>
    <a href="/coder" style="color :whitesmoke; background-color:black; padding: 4px; border-radius: 4px; margin: 2px;">
        <i class="fa fa-plus" style="color:whitesmoke;"></i>
        Create New
    </a>
    Coders Information
</h4>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        {{#each info}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.city}}</td>
            </tr>
            <td>

            <a href="/coder/{{this._id}}">
                <i class="fa fa-pencil fa-lg" style="color:black;" aria-hidden="true"></i>
          </a>
            <a href="/coder/delete/{{this._id}}" onclick="return confirm{are you want delete this coder from database?";>
                <i class="fa fa-trash fa-lg" style="color:black;" aria-hidden="true"></i>
          </a>
            </td>



        {{/each}}
    </tbody>
</table>